// Colors
$color-primary: #1e1e1e;
$color-secondary: #ffe600;
$color-tertiary: #fdfdfd;
// $color-quaternary: #4CC3FF;

// Fonts
$font-family-primary: 'Montserrat', sans-serif;

$font-size-base: 15px;
$line-height-base: 1.4;

$font-size-md: 20px;
$line-height-sm: 1.6;

$font-size-sm: 12px;
$line-height-sm: 1.6;

$font-size-xs: 16px;
$line-height-xs: 1.4;

// Container
$container-width-lg: 1172px;
$container-width-md: 930px;
$container-width-sm: 700px;

// Breakpoints
// We minus 0.02px from our breakpoints because these breakpoints are for mobile-first but we use desktop-first approach
$breakpoint-lg-down: 1270px - 0.02px;
$breakpoint-md-down: 1024px - 0.02px;
$breakpoint-sm-down: 768px - 0.02px;
$breakpoint-xs-down: 450px - 0.02px;

// Transitions 
$transition-base: 0.2s;